<div class="pen-title">
  <h2>Login</h2><span>
</div>

<div class="module form-module">
  <div class="">
    <div class="tooltip">Click Me</div>
  </div>
  <div class="form">
    <h2>Login to Account</h2>
    <%= form_for :session, url: sessions_path do |f| %>
      <%= f.email_field :email, placeholder: :email %>
      <%= f.password_field :password, placeholder: :password %>
      <button>Login</button>
    <% end %>
  </div>
</div>
