$pure-white: #ffffff;
$ash-navbar: #2e2e2e;
$near-black: #222222;
$pale-magenta: #f4bbff;
$light-gray: #e1e1e1;
$open-sans: "Open Sans";
$helv: "Helvetica Neue";
$aria: "Arial";
$sans: sans-serif;
$merry: Merriweather;
$vivid-red: #eb3812;
$bright-red: #f05f40;
$ee-ef: #efefef;
